<div class="row">
  <app-messages></app-messages>
</div>

<mat-card class="headerCard mat-elevation-z8">
  <mat-card-header>    
    <mat-card-title>Apartado</mat-card-title>
    <mat-card-subtitle>Portugal</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="cardContent">
      <input pInputText type='text' [(ngModel)]="filtro" placeholder='chave de busca'>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="text-align: right;">
      <button mat-raised-button color="accent" isRoundButton="true" title='"Procurar' (click)="buscarApartado()">Procurar</button>
    </div>
  </mat-card-actions>  
</mat-card>

<app-loading *ngIf="loading | async"></app-loading>

<div class="tblDataSource mat-elevation-z8" *ngIf='(Apartados && Apartados.length > 0)'>
  <p-table #dtCodigosPostais [value]="Apartados" styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll"
           [paginator]="true" [rows]="10" 
           currentPageReportTemplate="A exibir {first} até {last} de {totalRecords} registos" [rowsPerPageOptions]="[10,25,50,100]"
           dataKey="Id">
    <ng-template pTemplate="header">      
        <tr>
          <th>Postal Office</th>
          <th>First POBox</th>
          <th>Last POBox</th>
          <th>Postal Code</th>
          <th>Extension</th>        
          <th>Code Special</th>
          <th>Extension</th>        
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-apartado>      
        <tr>
          <td>{{ apartado.PostalOfficeIdentification }}</td>
          <td>{{ apartado.FirstPOBox }}</td>
          <td>{{ apartado.LastPOBox }}</td>
          <td>{{ apartado.PostalCode }}</td>
          <td>{{ apartado.PostalCodeExtension }}</td>        
          <td>{{ apartado.PostalCodeSpecial }}</td>
          <td>{{ apartado.PostalCodeSpecialExtension }}</td>        
          </tr>      
    </ng-template>
  </p-table>
</div>
