<div class="row">
  <app-messages></app-messages>
</div>

<mat-card class="headerCard mat-elevation-z8">
  <mat-card-header>    
    <mat-card-title>Distrito</mat-card-title>
    <mat-card-subtitle>Portugal</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="cardContent">
      <input type='text' [(ngModel)]="filtro" placeholder='chave de busca'>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" isRoundButton="true" title='"Procurar' (click)="buscarDistrito()">Procurar</button>
  </mat-card-actions>  
</mat-card>

<app-loading *ngIf="loading | async"></app-loading>

<div class="tblDataSource mat-elevation-z8" *ngIf='Distritos && Distritos.length > 0'>
  <table width='100%' style='border-spacing: 10px;  border-collapse: separate;'>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Denominação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let distrito of Distritos'>
        <td>{{ distrito.Codigo }}</td>
        <td>{{ distrito.Nome }}</td>
      </tr>
    </tbody>
  </table>
</div>
