<mat-toolbar>  
  <mat-toolbar-row style="background-color: #046A38;">    
    <a href="/" title="Buscar CTT Portugal">
      <!--
      <span>
        <img
          width="40"
          alt="Buscar CTT"
          src="/assets/img/logo.png"
        />
      </span>
      -->      
      <span class="menu-home">CTT App</span>
    </a>
    <span class="toolbar-spacer"></span>
    <a href="https://andremesquita.com/rest-api-service-ctt-correios-gratuito-github-dockerhub/" style="font-weight:400;color:white;" target="_blank"><mat-icon>info</mat-icon></a>
    </mat-toolbar-row>

  <mat-toolbar-row style="background-color: #DA291C;height: 50px;font-size: medium;">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/codigo-postal" style="font-weight:400;color:white;">Código Postal</a>&nbsp;&nbsp;<span style="color:whitesmoke">|</span>&nbsp;&nbsp;
    <a routerLink="/apartado" style="font-weight:400;color:white;">Apartado</a>&nbsp;&nbsp;<span style="color:whitesmoke">|</span>&nbsp;&nbsp;
    <a routerLink="/concelho" style="font-weight:400;color:white;">Concelho</a>&nbsp;&nbsp;<span style="color:whitesmoke">|</span>&nbsp;&nbsp;
    <a routerLink="/distrito" style="font-weight:400;color:white;">Distrito</a>
    <span class="toolbar-spacer"></span>
    
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>




