<div class="row">
  <app-messages></app-messages>
</div>

<mat-card class="headerCard mat-elevation-z8">
  <mat-card-header>    
    <mat-card-title>Concelho</mat-card-title>
    <mat-card-subtitle>Portugal</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="cardContent">
      <input pInputText type='text' [(ngModel)]="filtro" placeholder='chave de busca'>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="text-align: right;">
      <button mat-raised-button color="accent" isRoundButton="true" title='"Procurar' (click)="buscarConcelho()">Procurar</button>
    </div>
  </mat-card-actions>  
</mat-card>

<app-loading *ngIf="loading | async"></app-loading>

<div class="tblDataSource mat-elevation-z8" *ngIf='(Concelhos && Concelhos.length > 0)'>
  <p-table #dtCodigosPostais [value]="Concelhos" styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll"
           [paginator]="true" [rows]="10" 
           currentPageReportTemplate="A exibir {first} até {last} de {totalRecords} registos" [rowsPerPageOptions]="[10,25,50,100]"
           dataKey="Id">
    <ng-template pTemplate="header">      
        <tr>
          <th>Codigo</th>
          <th>Distrito</th>
          <th>Denominação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-concelho>      
        <tr>
          <td>{{ concelho.Codigo }}</td>
          <td>{{ concelho.NomeDistrito }}</td>
          <td>{{ concelho.Nome }}</td>
        </tr>      
    </ng-template>
  </p-table>
</div>
