
html, body { height: 100%; overflow: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.headerCard {
    width: 40vh;
}
.cardContent {
    text-align: center;
    padding-top: 10px;
}
.tblDataSource {
    margin-top: 20px;
}
table {
    width: 100%;
}
