  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Buscar Concelho</h5>
    </div>
    <div class="card-body">
      <input type='text' [(ngModel)]="filtro" placeholder='chave de busca'>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" title='"Procurar' (click)="buscarConcelho()">Procurar</button>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>

  <div class="card" *ngIf='Concelhos && Concelhos.length > 0'>
    <div class="card-header">
      <h5 class="card-title">Resultado da Busca</h5>
    </div>
    <div class="card-body">
        <table border='0' width='100%' style='border-spacing: 10px;  border-collapse: separate;'>
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Distrito</th>
              <th>Denominação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let concelho of Concelhos'>
              <td>{{ concelho.Codigo }}</td>
              <td>{{ concelho.CodigoDistrito }}</td>
              <td>{{ concelho.Nome }}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
