<div class="row">
  <app-messages></app-messages>
</div>

<div class="card">
    <div class="card-header">
      <h5 class="card-title">Buscar Código Postal</h5>
    </div>
    <div class="card-body">
      <input type='text' [(ngModel)]="filtro" placeholder='XXXX-XXX'>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" title='"Procurar' (click)="buscarCodigoPostal()">Procurar</button>
    </div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="card" *ngIf='CodigosPostais && CodigosPostais.length > 0'>
    <div class="card-header">
      <h5 class="card-title">Resultado da Busca</h5>
    </div>
    <div class="card-body">

        <table width='100%' style='border: 2px black; border-spacing: 10px;  border-collapse: separate;'>
          <thead>
            <tr>
              <th>CP</th>
              <th>EXT</th>
              <th>Freguesia</th>
              <th>Concelho</th>
              <th>Porta</th>
              <th>Morada</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let codigoPostal of CodigosPostais'>
              <td>{{ codigoPostal.NumeroCodigoPostal }}</td>
              <td>{{ codigoPostal.NumeroExtensaoCodigoPostal }}</td>
              <td>{{ codigoPostal.ArteriaInformacaoLocalZona }}</td>
              <td>{{ codigoPostal.NomeLocalidade }}</td>
              <td>{{ codigoPostal.NumeroPorta }}</td>
              <td>{{ codigoPostal.ArteriaTipo.trim() }}&nbsp;
                  {{ codigoPostal.PrimeiraPreposicao.trim() }}&nbsp;
                  {{ codigoPostal.ArteriaTitulo.trim() }}&nbsp;
                  {{ codigoPostal.ArteriaDesignacao.trim() }}</td>              
            </tr>
          </tbody>
      </table>
    </div>
</div>
